#root {
  width: 100%;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  padding-top: 10vh; 
}

body {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
}

.flashcard button {
  width: 500px;
  min-height: 250px;
  margin: 2rem auto;
  padding: 2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.flashcard button.flipped {
  transform: rotateY(180deg);
}

.text-flipped {
  display: inline-block;
  transform: rotateY(180deg);
}

.flashcard.easy button {
  background-color: rgb(130,270,190);
  opacity: 0.8;
}

.flashcard.medium button {
  background-color: rgb(250,270,130);
  opacity: 0.8;
}

.flashcard.hard button {
  background-color: rgb(240,100,90);
  opacity: 0.8;
}

.button-container {
  display: flex; 
  gap: 1rem;    
  justify-content: center;
}

.button-container button {
    border-radius: 3px;
    min-width: 90px; 
    border: 1px solid;
    padding: 5px 5px; 
    background-color: rgb(240,255,255);
}

.flashcard-image {
  width: 100%;          /* Fills the horizontal space of the card */
  height: 110px;        /* Fixes the height so all flashcards stay uniform */
  object-fit: contain;  /* Scales the image without cropping or stretching */
  margin-top: 1rem;
}