#root {
  width: 100%;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  padding-top: 10vh; 
}

body {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
}

.flashcard button {
  width: 500px;
  min-height: 250px;
  margin: 2rem auto;
  padding: 2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.flashcard button.flipped {
  transform: rotateY(180deg);
}

.text-flipped {
  display: inline-block;
  transform: rotateY(180deg);
}

.flashcard.easy button {
  background-color: rgb(130,270,190);
  opacity: 0.8;
}

.flashcard.medium button {
  background-color: rgb(250,270,130);
  opacity: 0.8;
}

.flashcard.hard button {
  background-color: rgb(240,100,90);
  opacity: 0.8;
}

.button-container {
  display: flex; 
  gap: 1rem;    
  justify-content: center;
}
button {
  background-color: rgb(240,255,255);
  border: 1px solid;
  border-radius: 3px;
}
.button-container button {
    min-width: 90px; 
    padding: 5px 5px; 
}

.flashcard-image {
  width: 100%;          /* Fills the horizontal space of the card */
  height: 110px;        /* Fixes the height so all flashcards stay uniform */
  object-fit: contain;  /* Scales the image without cropping or stretching */
  margin-top: 1rem;
}

.guess-input {
  padding: 3px 3px; 
  border-radius: 3px;
}
.correct {
  border-color: #2ecc71 !important;
}

.incorrect {
  border-color: #e74c3c !important;
}

.form-container {
  padding: 10px;
}

.submit-btn {
  margin-left: 10px;
  cursor: pointer;
  padding: 3px 3px; 
}

.prev-btn.disabled, .next-btn.disabled {
  background-color: rgb(180,190,190);
  pointer-events: none;
}